<style>
    .ion {
        color: #EEEEEE;
    }

    .small-box .overlay, .overlay-wrapper .overlay {
        z-index: 50;
        background: rgba(255, 255, 255, 0.7) none repeat scroll 0% 0%;
        border-radius: 3px;
    }

    .small-box > .overlay, .overlay-wrapper > .overlay, .small-box > .loading-img {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
    }

    .small-box .overlay > .fa, .overlay-wrapper .overlay > .fa {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -15px;
        margin-top: -15px;
        color: #000;
        font-size: 30px;
    }
</style>

<div class="content-wrapper">

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Global Dashboard</h1>
        <!--<small>Information regarding the past month.</small>-->
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Date Picker -->
        @DatePicker.Display()

        <!-- Info boxes -->
        <div class="row">

            <!-- Payables -->
            <div class="col-lg-6 col-xs-12">
                <div class="small-box bg-red">
                    <div class="inner">
                        <h3 id="payables_value">-</h3>

                        <p>Accounts Payable</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-social-euro"></i>
                    </div>
                    <a href="/financial" class="small-box-footer">
                        More info <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>

            <!-- Receivables -->
            <div class="col-lg-6 col-xs-12">
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3 id="receivables_value">-</h3>

                        <p>Accounts Receivable</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-social-euro"></i>
                    </div>
                    <a href="/financial" class="small-box-footer">
                        More info <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>

            <!-- Gross Purchases -->
            <div class="col-lg-6 col-xs-12">
                <div class="small-box bg-red">
                    <div class="inner">
                        <h3 id="gross_purchases_value">-</h3>

                        <p>Gross Purchases Global Values</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-ios-cart-outline"></i>
                    </div>
                    <a href="/supplyChain" class="small-box-footer">
                        More info <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>

            <!-- Gross Sales -->
            <div class="col-lg-6 col-xs-12">
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3 id="gross_sales_value">-</h3>

                        <p>Gross Sales Global Values</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-ios-cart-outline"></i>
                    </div>
                    <a href="/sales" class="small-box-footer">
                        More info <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>

            <!-- ** Line Separator ** -->
            <div class="col-sm-12 col-xs-12">
                <div class="box box-solid" style="height: 5px;">
                </div>
            </div>

            <!-- Net Purchases -->
            <div class="col-lg-6 col-xs-12">
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3 id="net_purchases_value">-</h3>

                        <p>Net Purchases Global Values</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-ios-cart-outline"></i>
                    </div>
                    <a href="/supplyChain" class="small-box-footer">
                        More info <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>

            <!-- Net Sales -->
            <div class="col-lg-6 col-xs-12">
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3 id="net_sales_value">-</h3>

                        <p>Net Sales Global Values</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-ios-cart-outline"></i>
                    </div>
                    <a href="/sales" class="small-box-footer">
                        More info <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>

            <!-- ** Line Separator ** -->
            <div class="col-sm-12 col-xs-12">
                <div class="box box-solid" style="height: 5px;">
                </div>
            </div>

            <!-- Human Resources -->
            <div class="col-lg-6 col-xs-12">
                <div class="small-box bg-purple">
                    <div class="inner">
                        <h3 id="human_resources_value">-</h3>

                        <p>Human Resources spendings</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-ios-people-outline"></i>
                    </div>
                    <a href="/humanResources" class="small-box-footer">
                        More info <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>

        </div>
    </section>
</div>
@section ViewJavascript
{
    <!-- Date Range Picker plugin -->
    <script src="~/Content/themes/plugins/daterangepicker/daterangepicker.js"></script>

    <!-- Application includes -->
    <script src="~/Content/Core/Utils/CurrencyUtils.js"></script>
    <script src="~/Content/Core/Utils/DateUtils.js"></script>
    <script src="~/Content/Core/Elements/DatePicker.js"></script>
    <script src="~/Content/dashboard.js"></script>
}