@helper Display()
{
    <div class="row" style="padding-bottom: 12px">
        <div class="col-md-12">

            <!-- Date Picker Info -->
            <div class="form-group pull-left">
                <h4 id="DatePickerInfo"></h4>
            </div>

            <!-- Date Picker -->
            <div class="form-group pull-right">
                <label>Date range button:</label>

                <div class="input-group">
                    <button type="button" class="btn btn-default pull-right" id="daterange-btn">
                        <i class="fa fa-calendar"></i> Date range picker
                        <i class="fa fa-caret-down"></i>
                    </button>
                </div>
            </div>

        </div>
    </div>
}
