<div class="content-wrapper">

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Sales Dashboard</h1>
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Date Picker -->
        @DatePicker.Display()

        <!-- Info boxes -->
        <div class="row">

            <!-- Net sales Line chart -->
            <div class="col-md-12">
                <div class="box box-solid box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">Net Sales Global Values (€)</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="chart">
                            <canvas id="net_sales_chart" style="height: 250px; width: 364px;" width="364" height="250"></canvas>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        
        <div class="row">

            <!-- Sales by category Donut gchart -->
            <div class="col-md-6">
                <div class="box box-warning box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">Sales by Category (€)</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <canvas id="sales_by_category_chart" style="height: 286px; width: 572px;" width="572" height="286"></canvas>
                        <ul id="sales_by_category_legend" class="chart-legend clearfix">
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Top 10 customers -->
            <div class="col-md-6">
                <div class="box box-solid box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Top 10 Costumers</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                            <div class="row">
                                <div class="col-sm-6"></div>
                                <div class="col-sm-6"></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="top_customers" class="table table-bordered table-hover dataTable" role="grid"></table>
                                </div>
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
            </div>

        </div>

        <div class="row">

            <!-- Top 10 products -->
            <div class="col-md-12">
                <div class="box box-solid box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Top 10 Products</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                            <div class="row">
                                <div class="col-sm-6"></div>
                                <div class="col-sm-6"></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="top_products" class="table table-bordered table-hover dataTable" role="grid"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</div>
@section ViewJavascript
{
    <!-- Date range picker -->
    <script src="~/Content/themes/plugins/daterangepicker/daterangepicker.js"></script>

    <!-- Application includes -->
    <script src="~/Content/Core/Utils/ColorGenerator.js"></script>
    <script src="~/Content/Core/Utils/CurrencyUtils.js"></script>
    <script src="~/Content/Core/Utils/DateUtils.js"></script>
    <script src="~/Content/Core/Elements/DatePicker.js"></script>
    <script src="~/Content/Core/Elements/LineChart.js"></script>
    <script src="~/Content/Core/Elements/PieChart.js"></script>
    <script src="~/Content/Core/Elements/Table.js"></script>
    <script src="~/Content/Core/Views/Sales/NetSalesChart.js"></script>
    <script src="~/Content/Core/Views/Sales/SalesByCategoryChart.js"></script>
    <script src="~/Content/Core/Views/Sales/TopCostumersTable.js"></script>
    <script src="~/Content/Core/Views/Sales/TopProductsTable.js"></script>
    <script src="~/Content/sales.js"></script>
}

